body {
  font-family: 'Architects Daughter', cursive;
}

header {
  display: flex;
  border: 2px solid black;
}

nav ul {
  list-style-type: none;
  margin: 5px;
  padding: 10px;
}

nav li {
  margin: 20px;
}

nav li a {
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  nav li {
    display: inline;
  }
}
